<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>hackEDU</title>

<%= css :application %>
<%= js :modernizr %>
</head>
<body>
<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="top-bar hide-for-small" data-topbar>
      <ul class="title-area">
        <li class="name">
        <h1 class="title"><a href="/">hackEDU</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <%= partial :nav %>
        </ul>
      </section>
    </nav>
    <nav class="tab-bar show-for-small">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title">hackEDU</h1>
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Navigation</label></li>

        <%= partial :nav %>
      </ul>
    </aside>
    <%= yield %>
    <a class="exit-off-canvas"></a>

    <%= js :libs %>
    <%= js :application %>
  </div>
</div>
</body>
</html>
