!!!
%html.no-js{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %title hackEDU
    = css :application
    = js :modernizr
  %body
    .off-canvas-wrap
      .inner-wrap
        %nav.top-bar.hide-for-small{'data-topbar' => ''}
          %ul.title-area
            %li.name
              %h1.title
                %a{href: '/'} hackEDU
          %section.top-bar-section
            %ul.right= partial :nav
        %nav.tab-bar.show-for-small
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title hackEDU
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Navigation
            = partial :nav
        = yield
        %a.exit-off-canvas
        = js :libs
        = js :application
