:ruby
  provide :title, 'Apply'
  provide :description, 'Apply to Hack Club today! We accept applicants on a'\
                        ' rolling basis each semester.'

.row
  %h1.apply-header Apply to Start a Hack Club

.row
  .small-12.medium-9.small-centered.columns
    %p.apply-info
      We're currently accepting applications for the 2016 - 2017 school year. If
      you have any questions, don't hesitate to email us at
      #{ link_to 'apply@hackclub.com' }. We look for 2-3 sentence responses to
      each question. Good luck!

    %p.apply-info
      Check out our
      = link_to 'example applications', '/example_applications'
      if you want some help!

.row
  = simple_form_for @application, url: apply_path do |f|
    %fieldset
      %legend Information
      .row
        .small-6.columns
          = f.input :first_name, placeholder: 'Zaphod'
        .small-6.columns
          = f.input :last_name, placeholder: 'Beeblebrox'
      .row
        .small-6.columns
          = f.input :email, placeholder: 'zaphod@beeblebrox.com'
        .small-6.columns
          = f.input :phone_number, label: "Phone number (we'll get in touch to answer any questions you might have)", placeholder: '(555) 555-5555'
      .row
        .small-6.columns
          = f.input :high_school, placeholder: 'Visalia High School'
        .small-6.columns
          = f.input :year, label: 'Current year', as: :select,
              collection: ClubApplication.years.to_a.map { |y| [y[0].humanize, y[0]] },
              include_blank: true
      .row
        .large-6.columns
          .row.collapse
            %label GitHub
            .small-4.columns
              %span.prefix github.com/
            .small-8.columns
              = f.input :github, label: false, placeholder: 'zaphod'
        .large-6.columns
          .row.collapse
            %label Twitter
            .small-4.columns
              %span.prefix twitter.com/
            .small-8.columns
              = f.input :twitter, label: false, placeholder: 'zaphod'
    %fieldset
      %legend Application
      .row
        .columns
          = f.input :interesting_project, label: 'Please tell us about an interesting project, preferably outside of class, that you created or worked on.'
      .row
        .columns
          = f.input :system_hacked, label: 'Please tell us about the time you most successfully hacked some (non-computer) system to your advantage. Click <a href="https://www.quora.com/When-have-you-most-successfully-hacked-some-non-computer-system-to-your-advantage">here</a> for the sorts of responses we\'re looking for.'.html_safe
      .row
        .columns
          = f.input :steps_taken, label: 'What steps have you taken so far in starting your club?'
      .row
        .columns
          = f.input :referer, label: 'How did you hear about us?'
    = f.button :submit, 'Submit Application'
