.introduction.main-section
  .row
    %span.vertical-align
      %h1
        <b><span class="hackedu-logo">hackEDU</span></b> empowers high
        school students <b>to build things they are excited about</b>
        by <b>creating</b>, <b>connecting</b>, and growing
        <b>student-run</b> coding clubs.
.main-section.impact
  .row
    %h1 Our Impact
    .small-12.medium-4.columns.metric
      %p.stat 1,300
      %p.stat-desc Students Reached
    .small-12.medium-4.columns.metric
      %p.stat 32%
      %p.stat-desc Women
    .small-12.medium-4.columns.metric
      %p.stat 37%
      %p.stat-desc Minorities in Tech
.description.small-section
  .row
    .small-11.small-centered.columns
      %p
        %span.header hackEDU
        is a non-profit initiative that works with high school students to
        start and lead programming clubs at their schools. We provide all the
        tools for starting and leading clubs including a baseline coding
        curriculum, free software tools, and community building training.
      %p
        Each club typically spans the school year, regularly meeting weekly or
        biweekly. Clubs are led by high school hackers who want to bring the
        hackathon culture back to their schools.
      %h3 Why hackEDU?
      %p
        Instead of focusing on teaching a set curriculum at hack clubs, hackEDU
        focuses on building all-inclusive families where members build things
        together. This results in: (1) hack clubs engaging groups that are
        underrepresented in computer science and attracting members who might
        not normally sign up for computer science classes, and (2) building
        confidence, courage, and skills in members through integration with the
        broader hacking community.
.join-us.small-section
  .row
    .small-12.medium-8.medium-centered.columns
      .row
        .small-12.medium-6.columns
          %h1 Join Us
        .small-12.medium-6.columns
          = link_to 'Start a Hack Club', apply_path, class: 'button outline-outward'
#home-map-jumbotron
.main-section.sponsors
  .row
    %h1 Supporters
    %ul.small-12.medium-6.small-centered.columns
      %li
        = link_to "http://www.loganfdn.org/" do
          = image_tag('sponsors/logan_foundation.jpg')
    %ul.small-block-grid-2.medium-block-grid-3
      %li
        = link_to "https://taplytics.com/" do
          = image_tag('taplytics.svg')
      %li
        = link_to "http://www.hackreactor.com/" do
          = image_tag('hack_reactor.png')
      %li
        = link_to "https://workflowy.com/" do
          = image_tag('workflowy.png')
      %li
        = link_to "https://sourcegraph.com/" do
          = image_tag('sourcegraph.png')
      %li
        = link_to "https://www.makeschool.com" do
          = image_tag('make_school.svg')
      %li
        = link_to "https://www.nitrous.io/" do
          = image_tag('nitrousio.svg')
      %li
        = link_to "http://www.rackspace.com/" do
          = image_tag('rackspace.svg')
      %li
        = link_to "https://codehs.com/" do
          = image_tag('codehs.png')
      %li
        = link_to "http://firstcodeacademy.com/" do
          = image_tag('first_code_academy.png')
      %li
        = link_to "http://www.getcloudapp.com/" do
          = image_tag('cloudapp.svg')
      %li
        = link_to "https://www.expensify.com/" do
          = image_tag('expensify.png')
      %li
        = link_to "http://www.galvanize.com/" do
          = image_tag('galvanize.svg')
      %li
        = link_to "https://stripe.com/" do
          = image_tag('stripe.svg')
      %li
        = link_to "https://zapier.com/" do
          = image_tag('zapier.svg')
      %li
        = link_to "http://www.missionbit.com/" do
          = image_tag('mission_bit.png')
.email-form.small-section
  .row
    %h1 Stay in the loop
    .small-11.medium-6.small-centered.columns
      / MailChimp Signup Form
      #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{action: "//hackedu.us10.list-manage.com/subscribe/post?u=738aabcd5284a4d3df761a981&id=4c8d1b3833",
                                                method: "post",
                                                  name: "mc-embedded-subscribe-form",
                                            novalidate: "",
                                                target: "_blank"}
        #mc_embed_signup_scroll
          .mc-field-group
            %input#mce-EMAIL.required.email{name: "EMAIL",
                                            type: "email",
                                           value: "",
                                     placeholder: "zaphod@beeblebrox.com"}
          #mce-responses.clear
            #mce-error-response.response{style: "display: none"}
            #mce-success-response.response{style: "display: none"}
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{style: "position: absolute; left: -5000px;"}
            %input{name: "b_738aabcd5284a4d3df761a981_4c8d1b3833",
               tabindex: "-1",
                   type: "text",
                  value: ""}
          .clear
            %input#mc-embedded-subscribe.button{name: "subscribe",
                                                type: "submit",
                                               value: "Subscribe"}
.rackspace
  .row
    .small-12.large-9.columns
      %p
        We can be reached anytime at #{mail_to 'team@hackedu.us'} or 
        at <a href="https://webchat.freenode.net/?channels=hackedu">#hackEDU</a>
        on freenode
    .small-12.large-3.columns
      %p
        = link_to 'GitHub', 'https://github.com/hackedu'
        = link_to 'Attributions', attributions_path
    .small-12.columns.text-center
      %p.copyright
        © #{Date.today.year} hackEDU, a 501(c)(3) non-profit [Tax ID
        46-0945785].
%script
  markersJSON = #{raw @clubs_hash.to_json}
