#introduction
  .row
    .large-6.medium-12.columns
      %h1 We help high schoolers start awesome after-school coding clubs.
      = link_to '/start',
        class: 'button large outline-outward button-start-a-club' do
        Start a Hack Club <span class="raquo">&raquo;</span>
      %p.links.lead
        Learn more:
        = link_to 'How It Works', '#how-it-works'
        = link_to 'See The Clubs', '#map'
        = link_to 'Our Team', team_path
        = link_to 'Donate', donate_path
    .large-6.medium-12.columns.show-for-large-up
      = image_tag 'photos/december_hack_night.jpg', class: 'introduction-photo'
#quote
  .row.testimonials
    .medium-6.medium-offset-3.columns.testimonials
      .testimonial
        .chat-bubble
          %p
            At one of our first meetings, a sophomore thanked me for starting the
            club because it showed her that coding is about more than taking a
            test. Hack Club showed my school what computer science classes didn't
            and let me share why I care about coding.
        .chat-bubble-arrow
        .row.chat-flex
          .small-3.columns
            = image_tag 'testimonials/rachel_sterneck.png', class: 'quotee-img'
          .small-9.columns.chat-info
            %h3 Rachel Sterneck
            %h4 Senior, Roslyn High School
#how-it-works
  .row
    %h1 How It Works
    %p.lead A student-led Hack Club is made of four simple ingredients:
  .row.pluses.show-for-large-up
    .large-3.columns
      %p
      = image_tag 'slices/plus-red.svg', class: 'plus'
    .large-3.columns
      %p
      = image_tag 'slices/plus-red.svg', class: 'plus'
    .large-3.columns
      %p
      = image_tag 'slices/plus-red.svg', class: 'plus'
    .large-3.columns
      %p
  .row
    .large-3.medium-6.small-12.columns
      .card.card-has-hover.plus-after
        .card-image-fx
          = image_tag 'slices/leader-bw.svg', class: 'card-image-fx-normal'
          = image_tag 'slices/leader-red.svg', class: 'card-image-fx-hover'
        %h3.card-heading.card-heading-taller Leader
        %p.card-body
          It takes only one passionate student to start a Hack Club &ndash; that
          could be you!
    .large-3.medium-6.small-12.columns
      .card.card-has-hover.plus-after
        .card-image-fx
          = image_tag 'slices/hackers-bw.svg', class: 'card-image-fx-normal'
          = image_tag 'slices/hackers-color.svg', class: 'card-image-fx-hover'
        %h3.card-heading.card-heading-taller Hackers
        %p.card-body
          Anyone who is interested in learning how to build cool apps &
          games are welcome to join!
    .large-3.medium-6.small-12.columns
      .card.card-has-hover.plus-after
        .card-image-fx
          = image_tag 'slices/venue-bw.svg', class: 'card-image-fx-normal'
          = image_tag 'slices/venue-red.svg', class: 'card-image-fx-hover'
        %h3.card-heading.card-heading-taller Venue
        %p.card-body
          We work with your school and our partners to get it the support it
          needs
    .large-3.medium-6.small-12.columns
      .card.card-has-hover
        .card-image-fx
          = image_tag 'slices/resources-bw.svg',
            class: 'card-image-fx-normal'
          = image_tag 'slices/resources-red.svg',
            class: 'card-image-fx-hover'
        %h3.card-heading.card-heading-taller Our Resources
        %p.card-body
          We provide the resources to run your club, including workshops,
          partnerships, and community.
#meet-the-hack-clubs
  .row.heading
    %h1 Meet the Hack Clubs
    %p.lead
      When you start a Hack Club, you join a diverse community of coders from
      around the world.
  .row.row-larger.margin-bottom
    .medium-4.small-6.columns.club-photo{ href: '#' }
      = image_tag 'photos/lecture.jpg'
      .club-overlay
        %p
          We host events like <b>Demo Night</b> for
          students to show off their projects.
        // %h5 George Washington High School
        // Philadelphia, PA
        // %u Visit Website
    .medium-4.columns.hide-for-small-only.club-photo{ href: '#' }
      = image_tag 'photos/vr.jpg'
      .club-overlay
        %p
          Students work with the latest and greatest innovations, such as
          <b>virtual reality.</b>
        -# %h5 George Washington High School
        -# Philadelphia, PA
        -# %u Visit Website
    .medium-4.small-6.columns.club-photo{ href: '#' }
      = image_tag 'photos/group.jpg'
      .club-overlay
        %p
          Hack Club's <b>workshops</b> provides hours of hands-on instruction.
        // %h5 George Washington High School
        // Philadelphia, PA
        // %u Visit Website
    .medium-4.small-6.columns.club-photo{ href: '#' }
      = image_tag 'photos/piano.jpg'
      .club-overlay
        %p
          Anything can be programmed, from apps to <b>musical instruments.</b>
        // %h5 George Washington High School
        // Philadelphia, PA
        // %u Visit Website
    .medium-4.columns.hide-for-small-only.club-photo{ href: '#' }
      = image_tag 'photos/talk.jpg'
      .club-overlay
        %p
          We bring in <b>industry professionals</b> to give talks and lead
          discussions.
        // %h5 George Washington High School
        // Philadelphia, PA
        // %u Visit Website
    .medium-4.small-6.columns.club-photo{ href: '#' }
      = image_tag 'photos/debugging.jpg'
      .club-overlay
        %p
          We believe that coding can be a very
          <b>collaborative activity.</b>
        // %h5 George Washington High School
        // Philadelphia, PA
        // %u Visit Website
#map
  .row
    %p.lead
      The impact of Hack Club reaches far and wide across the world, in <br>
      <b>#{ @clubs.count } schools</b> across <b>16 states</b> and <b>7
      countries</b>.
  .tabs-content
    -# Filler for tabs, no content here
    .content.active#map-usa
    .content#map-international
  .row-larger.margin-bottom
    %ul.tabs{ 'data-tab' => '' }
      %li.tab-title.active
        = link_to 'United States', '#map-usa',
          id: 'focus-map-usa'
      %li.tab-title
        = link_to 'Worldwide', '#map-international',
          id: 'focus-map-international'
  #home-map-jumbotron
#start-a-hack-club
  .row
    %h1 Start a Hack Club!
    %h3 Interested in bringing a coding club to your school?
    %h3 All it takes to start a Hack Club is you!
    %p.links
      = link_to '/start',
        class: 'button large outline-outward button-start-a-club' do
        Start a Hack Club <span class="raquo">&raquo;</span>
  .row.text-center.row-of-people.show-for-medium-up
    = image_tag 'people/person_1.svg'
    = image_tag 'people/person_2.svg'
    = image_tag 'people/person_3.svg'
    = image_tag 'people/person_4.svg'
    = image_tag 'people/person_5.svg'
#faq
  .row
    .small-12.medium-12.large-7.medium-centered.columns
      %h1.text-center Frequently Asked Questions
      %br
      %br
      %h4 What is Hack Club?
      %p
        We're a San Francisco based nonprofit that works with high schoolers to
        start after-school coding clubs. We provide everything needed to start a
        successful chapter at your school &ndash; curriculum for club meetings,
        facilitation guidelines, and an online community of club leaders from
        around the globe.
      %h4 What does a Hack Club look like?
      %p
        Hack Clubs meet after-school once or twice a week for an hour and a
        half. The structure varies club to club, but most meetings involve
        members learning to code by working on real projects, like apps,
        websites, and games.
      %h4 What is hacking?
      %p
        When we say "hack", we're referring to solving problems cleverly with
        code &ndash; just like "life hacking", except with computers. We're not
        here to break into anyone's bank accounts.
      %p
        When members of Hack Clubs hack, they're building apps, websites, games,
        and anything else you can imagine.
      %h4 Have any other questions?
      %p
        = link_to 'Please send us an email', 'mailto:team@hackclub.com'
        or
        = link_to 'chat with us on our Slack!',
          'https://slack.hackclub.com/'
.footer
  .row
    .small-12.medium-9.medium-centered.columns
      .small-12.medium-4.columns.nav
        %h1 Hack Club
        %ul
          %li
            %p
              4080 18th Street<br>
              San Francisco, CA 94114
          %li.link
            = link_to "mailto:team@hackclub.com" do
              = image_tag('icons/mail-white.svg')
              team@hackclub.com
      .small-12.medium-4.columns.nav
        %h1 Useful Links
        %ul
          %li.link
            #{link_to 'Start a Hack Club', '/start'}
          %li.link
            #{ link_to 'Workshops', 'https://workshops.hackclub.com/' }
          %li.link
            #{ link_to 'Blog', 'https://blog.hackclub.com' }
          %li.link
            #{link_to 'Donate', donate_path}
      .small-12.medium-4.columns.nav
        %h1 Join the Community
        %ul
          %li.link
            = link_to "https://slack.hackclub.com" do
              = image_tag('icons/chat-white.svg')
              Chat on Slack
          %li.link
            = link_to "https://github.com/hackclub" do
              = image_tag('icons/github-white.svg')
              GitHub
          %li.link
            = link_to "https://www.facebook.com/Hack-Club-741805665870458/" do
              = image_tag('icons/facebook-white.svg')
              Facebook
          %li.link
            = link_to "https://twitter.com/starthackclub" do
              = image_tag('icons/twitter-white.svg')
              Twitter
    .small-12.columns.text-center
      %p.copyright
        © #{Date.today.year} Hack Club. Please read our
        #{link_to 'code of conduct', 'https://conduct.hackclub.com'}.
%script
  markersJSON = #{raw @clubs_hash.to_json}
