.introduction.main-section
  .row
    %span.vertical-align
      %h1
        <b><span class="logo-h">h</span>ackEDU</b> empowers high school students <b>to build things they
        care about</b> through <b>creating</b>, <b>connecting</b>, and growing
        <b>student-run</b> coding clubs in <b>high schools</b>.
-#.sponsors.main-section
  -#.row
    -#%h1 Sponsors
    -#.row.logos
      -#/ TODO: Replace with real sponsor images
      -#-#- @sponsors.each do |sponsor|
        -#-#.small-6.medium-4.columns
          -#-#%img{alt: sponsor[:name], src: sponsor[:logo]}/
.join-us.small-section
  .row
    .small-12.medium-8.medium-centered.columns
      .row
        .small-12.medium-6.columns
          %h1 Join Us
        .small-12.medium-6.columns
          = link_to 'Start a Hack Club', apply_path, class: 'button outline-outward'
#home-map-jumbotron
.rackspace
  .row
    %p
      <span class="logo-h">h</span>ackEDU is generously hosted by
      = link_to 'Rackspace', 'https://www.rackspace.com/'
      %span.right
        = link_to 'GitHub', 'https://github.com/hackedu'
        = link_to 'Attributions', attributions_path
%script
  markersJSON = #{raw @clubs_hash.to_json}
