.introduction.main-section
  .row
    %span.vertical-align
      %h1
        <b><span class="logo-h">h</span>ackEDU</b> empowers high school students <b>to build things they
        care about</b> through <b>creating</b>, <b>connecting</b>, and growing
        <b>student-run</b> coding clubs in <b>high schools</b>.
.description.small-section
  .row
    .small-11.small-centered.columns
      %p
        %span.header hackEDU
        is a non-profit initiative that works with high school students to start
        and lead programming clubs at their schools. We provide all the tools for
        starting and leading clubs including a baseline coding curriculum, free
        software tools, and community building training.
      %p
        Each club typically spans the school year, regularly meeting weekly or
        biweekly for between one and several hours. Clubs are led by high school
        hackers who want to bring the hackathon culture back to their schools.

      %h3 Why hackEDU?
      %p
        Instead of focusing on teaching a set curriculum at hack clubs, hackEDU
        focuses on building all-inclusive families where members build things
        together. This results in: (1) hack clubs engaging groups that are
        underrepresented in computer science and attracting members who might not
        normally sign up for computer science classes, and (2) building
        confidence, courage, and skills in members through integration with the
        broader hacking community.
.join-us.small-section
  .row
    .small-12.medium-8.medium-centered.columns
      .row
        .small-12.medium-6.columns
          %h1 Join Us
        .small-12.medium-6.columns
          = link_to 'Start a Hack Club', apply_path, class: 'button outline-outward'
#home-map-jumbotron
.main-section.sponsors
  %h1 Sponsors
  .row.logos
    .medium-12.large-6.columns
      %img{alt: 'codehs', src: '/assets/codehs.png'}/
      %img{alt: 'hackreactor', src: '/assets/hackreactor.png'}/
      %img{alt: 'workflowy', src: '/assets/workflowy.png'}/
    .medium-12.large-6.columns
      %img{alt: 'makeschool', src: '/assets/makeschool.svg'}/
      %img{alt: 'nitrousio', src: '/assets/nitrousio.svg'}/
      %img{alt: 'rackspace', src: '/assets/rackspace.svg'}/
.rackspace
  .row
    %p
      <span class="logo-h">h</span>ackEDU is generously hosted by
      = link_to 'Rackspace', 'https://www.rackspace.com/'
      %span.right
        = link_to 'GitHub', 'https://github.com/hackedu'
        = link_to 'Attributions', attributions_path
%script
  markersJSON = #{raw @clubs_hash.to_json}
