.introduction.main-section
  .row
    .small-12.columns
      %h1.heading
        Hack Club is the movement of student-led coding clubs.
      %p.subheading
        Start a club and be a part of the global hacker movement.
      = link_to 'Start a Hack Club', apply_path, class: 'button large outline-outward start-a-club'
.publications.small-section
  .row
    .small-4.columns
      .publication
        %span.helper
        = link_to('http://nationswell.com/hackedu-teenagers-computer-programming-club/') do
          = image_tag('press/nationswell.png')
    .small-4.columns
      .publication
        %span.helper
        = link_to('https://stories.californiasunday.com/2015-06-07/real-teenagers-silicon-valley') do
          = image_tag('press/california_sunday.png')
    .small-4.columns
      .publication
        %span.helper
        = link_to('https://www.edsurge.com/n/2015-06-05-raise-a-glass-it-s-now-possible-to-become-a-thiel-fellow-and-legally-drink') do
          = image_tag('press/edsurge.png')
.main-section.impact
  .row
    %h1 Our Impact
    .small-12.medium-4.columns.metric
      %p.stat 32%
      %p.stat-desc Women
      = link_to 'http://research.collegeboard.org/programs/ap/data/participation/ap-2014' do
        %p.stat-comparison 20% of AP CS test takers are female
    .small-12.medium-4.columns.metric
      %p.stat 1,300
      %p.stat-desc Students Reached
    .small-12.medium-4.columns.metric
      %p.stat 37%
      %p.stat-desc Minorities in Tech
      = link_to 'http://www.edweek.org/ew/articles/2014/12/19/more-students-but-few-girls-minorities-took-ap-computer.html' do
        %p.stat-comparison 13% of AP CS test takers in 2014 were African-American or Hispanic
    .small-12.medium-6.medium-centered.columns.metric
      .small-12.medium-6.columns.metric
        %p.stat 11
        %p.stat-desc States
      .small-12.medium-6.columns.metric
        %p.stat 40
        %p.stat-desc Schools
.description.small-section
  .row
    .small-11.small-centered.columns
      %p
        %span.header Hack Club
        is a non-profit initiative that works with high school students to
        start and lead programming clubs at their schools. We provide all the
        tools for starting and leading clubs including a baseline coding
        curriculum, free software tools, and community building training.
      %p
        Each club typically spans the school year, regularly meeting weekly or
        biweekly. Clubs are led by high school hackers who want to bring the
        hackathon culture back to their schools.
      %h3 Why Hack Club?
      %p
        Instead of focusing on teaching a set curriculum at hack clubs, Hack Club
        focuses on building all-inclusive families where members build things
        together. This results in: (1) hack clubs engaging groups that are
        underrepresented in computer science and attracting members who might
        not normally sign up for computer science classes, and (2) building
        confidence, courage, and skills in members through integration with the
        broader hacking community.
.join-us.small-section
  .row
    .small-12.medium-8.medium-centered.columns
      .row
        .small-12.medium-6.columns
          %h1 Join Us
        .small-12.medium-6.columns
          = link_to 'Start a Hack Club', apply_path, class: 'button outline-outward'
#home-map-jumbotron
.main-section.sponsors
  .row
    %h1 Supporters
    %ul.big-supporters.small-block-grid-1.medium-block-grid-2.columns
      %li
        = link_to "http://www.loganfdn.org/" do
          = image_tag('sponsors/logan_foundation.jpg')
      %li
        = link_to "http://thielfoundation.org/" do
          = image_tag('sponsors/thiel_foundation.svg')
    %ul.small-supporters.small-block-grid-2.medium-block-grid-3
      %li
        = link_to "https://taplytics.com/" do
          = image_tag('sponsors/taplytics.svg')
      %li
        = link_to "http://www.hackreactor.com/" do
          = image_tag('sponsors/hack_reactor.png')
      %li
        = link_to "https://workflowy.com/" do
          = image_tag('sponsors/workflowy.png')
      %li
        = link_to "https://sourcegraph.com/" do
          = image_tag('sponsors/sourcegraph.png')
      %li
        = link_to "https://www.makeschool.com" do
          = image_tag('sponsors/make_school.svg')
      %li
        = link_to "https://www.nitrous.io/" do
          = image_tag('sponsors/nitrousio.svg')
      %li
        = link_to "http://www.rackspace.com/" do
          = image_tag('sponsors/rackspace.svg')
      %li
        = link_to "https://codehs.com/" do
          = image_tag('sponsors/codehs.png')
      %li
        = link_to "http://firstcodeacademy.com/" do
          = image_tag('sponsors/first_code_academy.png')
      %li
        = link_to "http://www.getcloudapp.com/" do
          = image_tag('sponsors/cloudapp.svg')
      %li
        = link_to "https://www.expensify.com/" do
          = image_tag('sponsors/expensify.png')
      %li
        = link_to "http://www.galvanize.com/" do
          = image_tag('sponsors/galvanize.svg')
      %li
        = link_to "https://stripe.com/" do
          = image_tag('sponsors/stripe.svg')
      %li
        = link_to "https://zapier.com/" do
          = image_tag('sponsors/zapier.svg')
      %li
        = link_to "http://www.missionbit.com/" do
          = image_tag('sponsors/mission_bit.png')
.email-form.small-section
  .row
    %h1 Stay in the Loop
    .small-11.medium-6.small-centered.columns
      / MailChimp Signup Form
      #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{action: "//hackedu.us10.list-manage.com/subscribe/post?u=738aabcd5284a4d3df761a981&id=4c8d1b3833",
                                                method: "post",
                                                  name: "mc-embedded-subscribe-form",
                                            novalidate: "",
                                                target: "_blank"}
        #mc_embed_signup_scroll
          .mc-field-group
            %input#mce-EMAIL.required.email{name: "EMAIL",
                                            type: "email",
                                           value: "",
                                     placeholder: "zaphod@beeblebrox.com"}
          #mce-responses.clear
            #mce-error-response.response{style: "display: none"}
            #mce-success-response.response{style: "display: none"}
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{style: "position: absolute; left: -5000px;"}
            %input{name: "b_738aabcd5284a4d3df761a981_4c8d1b3833",
               tabindex: "-1",
                   type: "text",
                  value: ""}
          .clear
            %input#mc-embedded-subscribe.button{name: "subscribe",
                                                type: "submit",
                                               value: "Subscribe"}
.footer
  .row
    .small-12.medium-9.medium-centered.columns
      .small-12.medium-4.columns.nav
        %h1 Get Involved
        %ul
          %li.link
            #{link_to 'GitHub', 'https://github.com/hackclub'}
          %li.link
            = link_to 'Join us on IRC', 'https://kiwiirc.com/client/irc.freenode.net/?nick=Hacker%7C?#hackclub'
      .small-12.medium-4.columns.nav
        %h1 Social
        %ul
          %li.link
            #{link_to 'Facebook', 'https://www.facebook.com/pages/hackEDU/741805665870458'}
          %li.link
            #{link_to 'Twitter', 'https://twitter.com/starthackclub'}
      .small-12.medium-4.columns.nav
        %h1 Contact Us
        %ul
          %li.link #{mail_to 'team@hackclub.io'}
          %li
            %p
              44 Tehama Street<br>
              San Francisco, CA 94105
    .small-12.columns.text-center
      %p.copyright
        © #{Date.today.year} Hack Club, a 501(c)(3) non-profit [Tax ID
        46-0945785].
%script
  markersJSON = #{raw @clubs_hash.to_json}
