#resources
  .row
    %h1 How It Works
    %p.lead
      We provide everything you need to start and lead a successful chapter at
      your school.
    .small-12.medium-12.large-10.medium-centered.columns
      .large-4.medium-4.columns
        .card.card-has-hover
          .card-image-fx
            = image_tag 'slices/chat-bw.svg',
              class: 'card-image-fx-normal'
            = image_tag 'slices/chat-red.svg',
              class: 'card-image-fx-hover'
          %h3.card-heading Community
          %p.card-body
            You’ll join a network of large network of Hack Clubs,
            students in Hack Clubs &amp; more!
          = link_to 'Join the Slack', 'https://slack.hackclub.com/',
            class: 'button card-button'
      .large-4.medium-4.columns
        .card.card-has-hover
          .card-image-fx
            = image_tag 'slices/partnerships-bw.svg',
              class: 'card-image-fx-normal'
            = image_tag 'slices/partnerships-red.svg',
              class: 'card-image-fx-hover'
          %h3.card-heading Partnerships
          %p.card-body You'll get free software & tools from our partnerships.
          = link_to 'See our Supporters', '#supporters',
            class: 'button card-button'
      .large-4.medium-4.columns
        .card.card-has-hover
          .card-image-fx
            = image_tag 'slices/events-alt-bw.svg',
              class: 'card-image-fx-normal'
            = image_tag 'slices/events-alt-red.svg',
              class: 'card-image-fx-hover'
          %h3.card-heading Events
          %p.card-body We host online and in-person events for clubs.
          = link_to 'Upcoming events',
            'https://www.facebook.com/Hack-Club-741805665870458/events',
            class: 'button card-button'
#workshops
  .row
    %h1 Free Workshops
    %p.lead
      Hack Club offers a free in-depth curriculum featuring over 85+
      simple-to-follow walkthroughs designed with students in mind. We
      have workshops for a variety of topics, ranging from apps, games,
      websites, and more. <b>Jump in to our most popular workshops:</b>
    %p.links.margin-bottom.lead
      = link_to 'For First Time Coders ➡',
          'https://workshops.hackclub.com#workshop-order'
      = link_to 'Browse All Workshops ➡',
          'https://workshops.hackclub.com/'
    .row.hide-for-small-only
      .large-3.medium-6.columns
        .card
          .card-image{ style: "background-image:url(https://workshops.hackclub.com/personal_website/img/final_screenshot.png)" }
          %h4.card-heading Build a Website
          %p.card-body Learn how build a website showcasing yourself.
          = link_to 'Get Started ➡',
            'https://workshops.hackclub.com/personal_website/',
            class: 'button card-button card-button-black'
      .large-3.medium-6.columns
        .card
          .card-image{ style: "background-image:url(https://workshops.hackclub.com/soccer/img/5_mini.gif)" }
          %h4.card-heading Soccer Game
          %p.card-body Create a fun single player game in Javascript.
          = link_to 'Get Started ➡',
            'https://workshops.hackclub.com/soccer/',
            class: 'button card-button card-button-black'
      .large-3.medium-6.columns
        .card
          .card-image{ style: "background-image:url(https://workshops.hackclub.com/swiper/img/box.gif)" }
          %h4.card-heading Swiper!
          %p.card-body Build an addictive iPhone game using Swift.
          = link_to 'Get Started ➡',
            'https://workshops.hackclub.com/swiper/',
            class: 'button card-button card-button-black'
      .large-3.medium-6.columns
        .card
          .card-image{ style: "background-image:url(https://workshops.hackclub.com/that_was_easy/img/easy_screenshot.png)" }
          %h4.card-heading Easy Button
          %p.card-body Build a dead simple Easy button, complete with audio!
          = link_to 'Get Started ➡',
            'https://workshops.hackclub.com/that_was_easy/',
            class: 'button card-button card-button-black'
.show-for-medium-up#supporters
  .row
    %h1 Supporters
    %p.lead
      These are the organizations that keep Hack Club free to your
      schools by providing donations and community resources.
    %ul.big-supporters.small-block-grid-1.medium-block-grid-2.columns
      %li
        = link_to "http://www.loganfdn.org/" do
          = image_tag('sponsors/logan_foundation.jpg')
      %li
        = link_to "http://thielfoundation.org/" do
          = image_tag('sponsors/thiel_foundation.svg')
    %ul.small-supporters.small-block-grid-2.medium-block-grid-3
      %li
        = link_to "https://taplytics.com/" do
          = image_tag('sponsors/taplytics.svg')
      %li
        = link_to "http://www.hackreactor.com/" do
          = image_tag('sponsors/hack_reactor.png')
      %li
        = link_to "https://workflowy.com/" do
          = image_tag('sponsors/workflowy.png')
      %li
        = link_to "https://sourcegraph.com/" do
          = image_tag('sponsors/sourcegraph.png')
      %li
        = link_to "https://www.makeschool.com" do
          = image_tag('sponsors/make_school.svg')
      %li
        = link_to "https://www.nitrous.io/" do
          = image_tag('sponsors/nitrousio.svg')
      %li
        = link_to "http://www.crystalknows.com/" do
          = image_tag('sponsors/crystal.png')
      %li
        = link_to "https://codehs.com/" do
          = image_tag('sponsors/codehs.png')
      %li
        = link_to "http://firstcodeacademy.com/" do
          = image_tag('sponsors/first_code_academy.png')
      %li
        = link_to "http://www.getcloudapp.com/" do
          = image_tag('sponsors/cloudapp.svg')
      %li
        = link_to "http://get.tech/" do
          = image_tag('sponsors/dot_tech.svg')
      %li
        = link_to "http://www.galvanize.com/" do
          = image_tag('sponsors/galvanize.svg')
      %li
        = link_to "https://stripe.com/" do
          = image_tag('sponsors/stripe.svg')
      %li
        = link_to "https://zapier.com/" do
          = image_tag('sponsors/zapier.svg')
      %li
        = link_to "http://www.missionbit.com/" do
          = image_tag('sponsors/mission_bit.png')
#email-form
  .row
    %h1 Stay in the Loop
    %p.call-to-action.lead
      Follow along as hundreds of amazing people across the world band
      together to build the communities they've always wished existed.
    .small-11.medium-6.small-centered.columns
      / MailChimp Signup Form
      #mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{action: "//hackedu.us10.list-manage.com/subscribe/post?u=738aabcd5284a4d3df761a981&id=4c8d1b3833",
                                                method: "post",
                                                  name: "mc-embedded-subscribe-form",
                                            novalidate: "",
                                                target: "_blank"}
        #mc_embed_signup_scroll
          .mc-field-group
            %input#mce-EMAIL.required.email{name: "EMAIL",
                                            type: "email",
                                           value: "",
                                     placeholder: "zaphod@beeblebrox.com"}
          #mce-responses.clear
            .response#mce-error-response{ style: "display: none" }
            .response#mce-success-response{ style: "display: none" }
          / real people should not fill this in and expect good things - do not remove this or risk form bot signups
          %div{ style: "position: absolute; left: -5000px;" }
            %input{name: "b_738aabcd5284a4d3df761a981_4c8d1b3833",
               tabindex: "-1",
                   type: "text",
                  value: ""}
          .clear
            %input.button.large.outline-outward.button-subscribe#mc-embedded-subscribe{ name:  "subscribe",
              type: "submit",
              value: "Subscribe to Newsletter" }
