= provide :title, 'Team'

.team-profile.main-section.small-text-center.large-text-left
  .row.title-row
    %h1 Meet the Team
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('zach_profile.jpg')
    .small-12.medium-6.columns
      %h2 Zach Latta
      %h3.subheader Founder & Executive Director
      %a{href: 'mailto:zach@hackedu.us'} zach@hackedu.us
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('zach_profile.jpg')
    .small-12.medium-6.columns
      %p
        Zach started coding when he was 7. Before hackEDU, he built the backend
        architecture for Yo – an app with more than 3 million users. At Run
        Games he was a developer of Football Heroes and helped grow it
        to over 1 million users, reaching #5 in the top free charts,
        \#1 in games, #1 in sports and #1 in the App Store.
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('jonathan_profile.jpg')
    .small-12.medium-6.columns
      %h2 Jonathan Leung
      %h3.subheader Founder
      %a{href: 'mailto:jonathan@hackedu.us'} jonathan@hackedu.us
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('jonathan_profile.jpg')
    .small-12.medium-6.columns
      %p
        While an undergrad at the University of Pennsylvania, Jonathan helped
        grow PennApps (one of the top collegiate hackathons in the world) from
        80 coders to more than 1,000. From there, he went to become General
        Assembly’s youngest instructor where he designed and taught curriculum
        that landed more than 85% of his students full-time professional
        programming jobs after just a 12-week course.
      %p
        The following summer, he designed and taught All Star Code’s immersive
        high school summer program. Through the program, Jonathan bought twenty
        high school students from no coding experience, up to building
        JavaScript Web Apps, to starting their own non-profit that has since
        organized five hackathons in New York – with sponsors like Google,
        Spotify, and Twilio.
      %p
        Jonathan graduated from the University of Pennsylvania in 2013 with a
        degree in Computer Engineering. Now, at 24, he’s working to bring the
        best coding education to high school students across the country.
        When he’s not working, Jonathan likes connecting with people over cool
        ideas, wandering around the city, and climbing onto his apartment’s
        roof to do yoga.
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('max_profile.jpg')
    .small-12.medium-6.columns
      %h2 Max Wofford
      %h3.subheader Technical Fellow
      %a{href: 'mailto:max@hackedu.us'} max@hackedu.us
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('max_profile.jpg')
    .small-12.medium-6.columns
      %p
        Tapping into the hacking community, Max has found a common purpose with
        the founders of hackEDU and his passion for amplifying people’s ideas.
        He loves helping students scale their ideas into even more awesome
        products.
      %p
        He has a background in mechanical engineering but right now he’s into
        learning whatever he can. He graduated high school last year and plans
        on continuing his education in software engineering at RIT starting in
        2016.
      %p
        When he’s not practicing sofa yoga, he’s catching up on the latest
        episodes of Silicon Valley, reading science fiction and reassuring his
        mom he’s doing just fine.
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('andrea_profile.jpg')
    .small-12.medium-6.columns
      %h2 Andrea Deng
      %h3.subheader Summer Coordinator
      %a{href: 'mailto:andrea@hackedu.us'} andrea@hackedu.us
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('andrea_profile.jpg')
    .small-12.medium-6.columns
      %p
        Andrea is a junior at Berkeley studying Cognitive Science with a focus
        in experience and interaction design. Coming from a technical and user
        research background, she hopes to bridge the gaps between design and
        development.
      %p
        She’s spending her summer with hackEDU, lending her passion for product
        design and experience to help the non-profit build community, foster
        the art of hacking and create an open, creative space where people,
        passion and ideas can mingle.
      %p
        In her spare time, she loves learning new things and listening to
        personal stories. She likes jamming with friends on the guitar and
        dancing to groovy hip-hop.
