- provide :title, 'Team'
- provide :description, 'Check out the team behind Hack Club.'

.row.team-profiles
  .small-11.small-centered.columns
    %h1.title Meet the Team
    .row
      .small-12.medium-10.medium-centered.columns
        .row
          .small-12.medium-6.columns.profile
            = image_tag 'team/kyle_emile.jpg', class: 'profile-img'
            .heading
              %h1 Kyle Emile
              %div
                %h2 Operations Director
            %p.bio
              Kyle is a former human resources professional from Whirlpool
              Corporation, where he managed various projects. His interest in
              non-profits grew after starting the global social movement, Free
              Intelligent Conversation. Kyle uses his experience and passion to
              bring Hack Clubs to high schools across the globe.
          .small-12.medium-6.columns.profile
            = image_tag 'team/max_wofford.jpg', class: 'profile-img'
            .heading
              %h1 Max Wofford
              %div
                %h2 Hack Camp Director
            %p.bio
              Tapping into the hacking community, Max has found a common purpose
              with the founders of Hack Club and his passion for amplifying
              people’s ideas. He loves helping students scale their ideas into
              even more awesome products.
        .row
          .small-12.medium-6.columns.profile
            = image_tag 'team/selynna_sun.jpg', class: 'profile-img'
            .heading
              %h1 Selynna Sun
              %div
                %h2 Hack Camp Organizer & Instructor
            %p.bio
              Selynna is an avid hackathon organizer and leader of the Hack Club
              at Los Altos High School. She loves giving back to the hacker
              community that has affected her immensely, whether it's through
              teaching or organizing events.
          .small-12.medium-6.columns.profile
            = image_tag 'team/zach_latta.jpg', class: 'profile-img'
            .heading
              %h1 Zach Latta
              %div
                %h2 Executive Director
            %p.bio
              Zach founded Hack Club in 2014 after he started a coding club at
              his high school. He previously led the engineering team at Yo and
              was a developer on Football Heroes. He cares about building things
              and learning.
    %h2.title Advisors
    .row
      .small-12.medium-7.medium-centered.columns
        .row
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/cary_rosenzweig.jpg'
            .heading
              %h1 Cary Rosenzweig
              %h2 Former CEO of IMVU
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/pierre_arys.jpg'
            .heading
              %h1 Pierre Arys
              %h2 Co-founded Bookneto Inc. (acquired)
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/tom_gruber.jpg'
            .heading
              %h1 Tom Gruber
              %h2 Inventor of Siri
