- provide :title, 'Team'
- provide :description, 'Check out the team behind Hack Club.'

.row.team-profiles
  .small-11.small-centered.columns
    %h1.title Meet the Team
    .row
      .small-12.medium-10.medium-centered.columns
        .row
          .small-12.medium-6.columns.profile
            = image_tag 'team/harrison_shoebridge.jpg', class: 'profile-img'
            .heading
              %h1 Harrison Shoebridge
              %div
                %h2 Software Engineer
            %p.bio
              Harrison founded a Hack Club at his high school in Sydney,
              Australia in 2015. After giving back to the organization through
              volunteering and contributing on GitHub he has joined the team
              full time as a software developer. He builds tools to make the
              jobs of club leaders and the rest of Hack Club's staff easier.
          .small-12.medium-6.columns.profile
            = image_tag 'team/max_wofford.jpg', class: 'profile-img'
            .heading
              %h1 Max Wofford
              %div
                %h2 Software Engineer
            %p.bio
              Tapping into the hacking community, Max has found a common purpose
              with the founders of Hack Club and his passion for amplifying
              people’s ideas. He loves helping students scale their ideas into
              even more awesome products.
        .row
          .small-12.medium-6.medium-centered.columns.profile
            = image_tag 'team/zach_latta.jpg', class: 'profile-img'
            .heading
              %h1 Zach Latta
              %div
                %h2 Executive Director
            %p.bio
              Zach founded Hack Club in 2014 after he started a coding club at
              his high school. He previously led the engineering team at Yo and
              was a developer on Football Heroes. He cares about building things
              and learning.
    %h2.title Advisors
    .row
      .small-12.medium-7.medium-centered.columns
        .row
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/pierre_arys.jpg'
            .heading
              %h1 Pierre Arys
              %h2 CEO Diamond Inc.
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/quinn_slack.jpg'
            .heading
              %h1 Quinn Slack
              %h2 CEO and Co-founder of Sourcegraph
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/tom_preston-werner.jpg'
            .heading
              %h1 Tom Preston-Werner
              %h2 Co-founded GitHub
