= provide :title, 'Team'
= provide :description, 'Check out the team behind Hack Club.'

.row.team-profiles
  .small-11.small-centered.columns
    %h1.title Meet the Team
    .row
      .small-12.medium-10.medium-centered.columns
        .row
          .small-12.medium-6.columns.profile
            = image_tag 'team/harrison_shoebridge.jpg', class: 'profile-img'
            .heading
              %h1 Harrison Shoebridge
              %h2 Intern
            %p.bio
              Before joining Hack Club, Harrison was a contributor on GitHub and
              a leader to his club in Sydney, Australia. He enjoys helping other
              people, and working very hard on whatever has his focus!
          .small-12.medium-6.columns.profile
            = image_tag 'team/max_wofford.jpg', class: 'profile-img'
            .heading
              %h1 Max Wofford
              %h2 Technical Fellow
            %p.bio
              Tapping into the hacking community, Max has found a common purpose
              with the founders of Hack Club and his passion for amplifying
              people’s ideas. He loves helping students scale their ideas into
              even more awesome products.
        .row
          .small-12.medium-6.medium-centered.columns.profile
            = image_tag 'team/zach_latta.jpg', class: 'profile-img'
            .heading
              %h1 Zach Latta
              %h2 Executive Director
            %p.bio
              Zach founded Hack Club in 2014 after he started a coding club at
              his high school. He previously led the engineering team at Yo and
              was a developer on Football Heroes. He cares about building things
              and learning.
    %h2.title Advisors
    .row
      .small-12.medium-7.medium-centered.columns
        .row
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/cary_rosenzweig.jpg'
            .heading
              %h1 Cary Rosenzweig
              %h2 Former CEO of IMVU
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/pierre_arys.jpg'
            .heading
              %h1 Pierre Arys
              %h2 Co-founded Bookneto Inc. (acquired)
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/tom_gruber.jpg'
            .heading
              %h1 Tom Gruber
              %h2 Inventor of Siri
