= provide :title, 'Team'

.row.team-profiles
  .small-11.small-centered.columns
    %h1.title Meet the Team
    .row
      .small-12.medium-4.columns.profile
        = image_tag 'team/zach_latta.jpg', class: 'profile-img'
        .heading
          %h1 Zach Latta
          %h2 Executive Director
        %p.bio
          Zach co-founded hackEDU with Jonathan in 2014. He previously led the
          engineering team at Yo and was a developer on Football Heroes. He
          cares about building things and learning.
      .small-12.medium-4.columns.profile
        = image_tag 'team/jonathan_leung.jpg', class: 'profile-img'
        .heading
          %h1 Jonathan Leung
          %h2 Co-founder
        %p.bio
          Jonathan co-founded hackEDU with Zach in 2014. He previously led the
          growth of PennApps from 80 to over 1,000 participants and has taught
          at General Assembly and All Star Code. When he's not working, he
          wanders around San Francisco and does yoga on his house's roof.
      .small-12.medium-4.columns.profile
        = image_tag 'team/max_wofford.jpg', class: 'profile-img'
        .heading
          %h1 Max Wofford
          %h2 Technical Fellow
        %p.bio
          Tapping into the hacking community, Max has found a common purpose
          with the founders of hackEDU and his passion for amplifying people’s
          ideas. He loves helping students scale their ideas into even more
          awesome products.
    %h2.title Advisors
    .row
      .small-12.medium-7.medium-centered.columns
        .row
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/cary_rosenzweig.jpg'
            .heading
              %h1 Cary Rosenzweig
              %h2 Former CEO of IMVU
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/pierre_arys.jpg'
            .heading
              %h1 Pierre Arys
              %h2 Co-founded Bookneto Inc. (acquired)
          .small-6.medium-4.columns.advisor.profile
            = image_tag 'team/advisors/tom_gruber.jpg'
            .heading
              %h1 Tom Gruber
              %h2 Inventor of Siri
