= provide :title, 'Team'

.team-profile.main-section.small-text-center.large-text-left
  .row.title-row
    %h1 The team
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('zach_profile.jpg')
    .small-12.medium-6.columns
      %h2 Zach Latta
      %h3.subheader Co-founder & CEO
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('zach_profile.jpg')
    .small-12.medium-6.columns
      %p
        Zach Latta is the co-founder of hackEDU. His previous employers include
        Yo, where he built the backend architecture for an app with over 3
        million users, and Run Games, where he developed Football Heroes, and
        grew it to over a million users, reaching #5 in the top free charts, #1
        in games, #1 in sports, #1 in arcade in the App Store. He spends his
        spare time attending weekend hackathons, and learning new languages.
        Zach runs HS Hackers, the largest online high school hacking group,
        which currently has thousands of members from nearly every state and
        over 80 countries.
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('jonathan_profile.jpg')
    .small-12.medium-6.columns
      %h2 Jonathan Leung
      %h3.subheader Co-founder
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('jonathan_profile.jpg')
    .small-12.medium-6.columns
      %p
        As a lead organizer of PennApps, one of the top collegiate hackathons in
        the world, Jonathan grew it from 80 to >1000 attendees. He went on to
        become General Assembly's youngest instructor where he designed and
        taught and curriculum that landed his 18 of his 21 students professional
        programming jobs. The following summer, Jonathan designed and taught
        All Star Code's immersive high school summer program. Through this
        program, Jonathan brought 20 high school students from no coding
        experience to starting their own non-profit that has since organized 5
        hackathons in New York whose’ sponsors include Google, Spotify, and
        Twilio. Jonathan's Alma Mater is The University of Pennsylvania where
        he received his Bachelor of Science in Engineering in Computer
        Engineering.
  .row
    .small-12.medium-6.columns.large-text-center.hide-for-small-only
      = image_tag('andrea_profile.jpg')
    .small-12.medium-6.columns
      %h2 Andrea Deng
      %h3.subheader Summer Coordinator
    .small-12.medium-6.columns.large-text-center.show-for-small-only
      = image_tag('andrea_profile.jpg')
    .small-12.medium-6.columns
      %p
        Andrea is a third-year UC Berkeley undergrad studying Cognitive
        Science with a focus in experience and interaction design. Coming
        from both a technical and user research background, she hopes to
        bridge the gaps between design and development. She is passionate about
        designing products and experiences that build communities and foster
        art, and aim to create an open, creative space where people, passion,
        and ideas mingle.  In her spare time, she loves to learn new things and
        listen to personal stories. She enjoys jamming with friends on the
        guitar and dancing to groovy hip hop.
