%li= link_to 'Home', root_path
%li= link_to 'Our Team', team_path
%li= link_to 'See The Workshops', 'https://workshops.hackclub.com'
%li= link_to 'Donate', donate_path
%li.primary= link_to 'Start a Hack Club &raquo;'.html_safe, apply_path
