%li= link_to 'Home', root_path
%li= link_to 'Team', team_path
%li= link_to 'Camp', 'https://camp.hackclub.com'
%li= link_to 'Workshops', 'https://workshops.hackclub.com'
%li= link_to 'Projects', 'https://shipped.hackclub.com'
%li= link_to 'Apply', apply_path
%li= link_to 'Donate', donate_path
