%li= link_to 'How It Works', how_it_works_path
%li= link_to 'Team', team_path
%li= link_to 'Workshops', 'https://workshops.hackclub.com'
%li= link_to 'Donate', donate_path
%li= link_to 'Start a Hack Club', apply_path
