%li= link_to 'Home', root_path
%li= link_to 'Team', team_path
%li= link_to 'Projects', 'https://shipped.hackclub.io'
%li= link_to 'Apply', apply_path
%li= link_to 'Donate', 'https://donate.hackclub.io'
