!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    = render 'layouts/social_meta'
    %title= full_title(yield(:title))

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .off-canvas-wrap{ 'data-offcanvas' => '' }
      .inner-wrap
        %nav.top-bar.hide-for-small{ 'data-topbar' => '' }
          %ul.title-area
            %li.name
              %h1.title
                %a{ href: '/' }
                  = image_tag 'text_logo.svg', alt: 'Hack Club', class: 'hackclub-logo'
          %section.top-bar-section
            %ul.right= render 'layouts/nav'
        %nav.tab-bar.show-for-small
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{ href: '#' }
              %span
          %section.middle.tab-bar-section
            %h1.title
              = image_tag 'text_logo.svg', alt: 'Hack Club', class: 'hackclub-logo'
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Navigation
            = render 'layouts/nav'
        = render 'layouts/flash'
        = yield
        %a.exit-off-canvas
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag "//maps.google.com/maps/api/js?v=3.24&key=#{Figaro.env.GOOGLE_MAPS_KEY}"
    = javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'
    = javascript_include_tag '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_pluggable_tag
